{% extends "base_generic.html" %}

{% block content %}
  <h1>Create New Event</h1>
  <form method="POST">
    <div>
      <label for="name">Name:</label>
      <input type="text" id="name" name="name" required>
    </div>
    <div>
      <label for="description">Description:</label>
      <textarea id="description" name="description" required></textarea>
    </div>
    <div>
      <label for="date">Date:</label>
      <input type="date" id="date" name="date" required>
    </div>
    <div>
      <label for="location">Location:</label>
      <input type="text" id="location" name="location" required>
    </div>
    <button type="submit">Create</button>
  </form>
  <a href="{{ url_for('event_list') }}">Cancel and go back to Event List</a>
{% endblock %}
