/* style.css or interactive_visualization.css */

nav {
    background-color: #333;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-around;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: white;
    padding: 14px 20px;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    background-color: #111;
}

nav ul li.active a {
    background-color: #575757;
}
